@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.address-title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    /* identical to box height, or 100% */
    letter-spacing: -0.005em;
    color: #1F1F1F;
}
.address-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 31px;
    /* or 182% */
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}
