@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.movie{
    background-color:#131314;
    background-image: url(./../img/josh-nuttall-zkVi57UYHIQ-unsplash1.png);
}
.movie-title{
    position: absolute;
    width: 350px;
    height: 30px;
    left: 540px;
    top: 2486px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    /* identical to box height, or 100% */
    letter-spacing: -0.005em;
    color: #FFFFFF;
}
.movie-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    text-align: center;
    letter-spacing: -0.005em;
    color: #FFFFFF;
    opacity: 0.7;
}