.movie{
    background-color:#131314;
    width: 1440px;
    height: 706px;
}
.movie-title{
    font-family: "OpenSans", "TimesNewRoman", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    /* identical to box height, or 100% */
    letter-spacing: -0.005em;
    color: #FFFFFF;
}
.movie-text{
    font-family: "OpenSans"; "TimesNewRoman", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    text-align: center;
    letter-spacing: -0.005em;
    color: #FFFFFF;
    opacity: 0.7;
}