.types-title {
    position: absolute;
    width: 288px;
    height: 30px;
    left: 571px;
    top: 1478px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    /* identical to box height, or 100% */
    letter-spacing: -0.005em;
    color: #1F1F1F;
    
}